
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-color: blanchedalmond;
}

h1{

    font-size: 30px;
    text-align: center;
}

footer{

    background-color: blanchedalmond;
   
}

#fondo{

    width: 100vw;
}

#logo{
    width: 100vw;
}

.aheader{

    color: blanchedalmond;
    font-size: 23px;
    text-decoration: none;
    background-color: dimgray;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}

a.aheader:hover{
    outline: 2px solid black;
}

.aheader:visited{
    color: rgb(241, 194, 125);

}
.aheader:active{
    background-color: antiquewhite;
    color:rgb(29, 27, 29) ;

}

footer a{

    text-decoration: none;
    padding: 10px;
    
    
   
}

footer nav{
    display: inline inline;
    
}
#barraFooter{
    text-align: center;
    width: 30;
}

.logoBajo{
   width: 50px;
}

#formreservas{
   
    width: 400px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 130px;
    margin-top: 95px;
}
input{
    padding: 5px;
    margin-bottom: 15px;


}

.producto{

    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px #727272;
    margin: 15px;
    overflow: hidden;

}

.producto img {
    width: 100%;
   
  
}

.textocard{
    padding: 10px 
}

.producto a {
    color: blanchedalmond;
    font-size: 23px;
    text-decoration: none;
    background-color: dimgray;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;

}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}